/*p,ol,h2 { :list of selector
see more at:
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
  color: red; --format is: "property: property-value;""
}
*/
html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Solway', serif;
font-family: 'Montserrat', sans-serif;font-family: 'Nanum Gothic', sans-serif;
  background-color: rgb(78, 214, 25);
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: hsl(103, 55%, 32%);
  padding: 0 20px 20px 20px;
  /*[ <length> | <percentage> | auto ]{1,4}*/

  border: 5px solid black; /*width, style, color*/
}

h1 {
  font-size: 60px;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black; /* how much to the right, to bottom, how blurry,what base color*/
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
/*BOX MODEL: in to out: padding,border,margin */
img {
  /*width: 100px;
  height: auto; /*400px;*/
  display: block; /*can't operate margin on an in-line element like img, gotta do on a block element like body*/
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/display*/
  margin: 0 auto; /*center*/
}
